.header{
    background-color:black

}

.activeLink{
    font-weight: bold;
}

.navlinklista {
    display: flex;
    list-style-type: none;
 
}

.navlink{
 margin: 10px;


}

a{
     text-decoration: none;
     color:white;

}